fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.42
psycopg[binary]==3.2.9
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
email-validator==2.2.0
pwdlib[argon2]==0.2.1
google-api-python-client==2.177.0
google-auth==2.40.3
openpyxl==3.1.5
pypdf==5.9.0
python-docx==1.2.0
reportlab==4.4.3
Pillow==11.3.0
